.wp-block-cover-text{
font-weight:800;
}
p.has-drop-cap:not(:focus):first-letter {
   font-weight:600;
}
#single-blocks .alignfull {
    width: auto;
    max-width: 1000%;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
    margin-top: 20px;
}

#single-blocks .alignwide {
    width: auto;
    max-width: 1000%;
    margin-right: calc(25% - 25vw);
    margin-left: calc(25% - 25vw);
}
.boxed-main-layout #single-blocks .alignwide, .boxed-main-layout #single-blocks .alignfull{
    margin-right: calc(25% - 20vw);
    margin-left: calc(25% - 20vw);
}
blockquote{
	background:none;
	border-left: 5px solid #333;
}
